.return {
  margin: auto;
  margin-top: 200px;
  width: 300px;
  height: 200px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  color: #e7e7e7;
  font-size: 14px;
  padding-top: 20px;
  padding-left: 30px;

}

button {
  width: 220px;
  border: 0px ;
  background-color: #355064;
  height: 30px;
  color: white;
  border-radius: 3px;
  border-color: #355064;
  padding: 4px 10px;
  margin-left: 10px;
  margin-top: 20px;
}
button:hover {
  background-color: #708191;
}

input {
  width: 220px;
  background-color: #355064;
  border: 1px solid #e7e7e7;
  height: 28px;
  color: white;
  padding: 0 10px;
  outline: none;
  margin-left: 10px;
}

.footer {
  marigin-top: 200px;
}
.wrapper {
  height: 656px;
  max-height: 700px;
  marigin-bottom: 200px;
}
