.wrapper {
  min-height: 806px;
  margin-top: 50px;
}

.leftsection, .rightsection{
  width: 50%;
  min-height: 500px;
  float: left;
  padding: 20px;
  color: white;
}
.rightsection{
  padding-right: 50px;
}

.menu {
  background-color: #355064;
  border: 0;
  height: 40px;
}

button {
  background-color: #355064;
  border: 0 ;
  height: 40px;
  color: white;
  text-align: center;
  font: 14px 'Oswald', sans-serif;
  outline: none;
  padding-left: 20px ;
  padding-right: 20px ;
}
button:hover {
  background-color: #556a7c;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
button:active {
  background-color: #708191;
}

.out{
  float: right;
}

.head, .headleft{
  color: white;
  font-size: 18pt;
  text-align: center;
}
.headleft{
  text-align: left;
  margin-left: 34%;

}

.result{
  color: white;
  width: 80%;
  margin-top: 15px;
  min-height: 30px;
  border: 1px #708191 solid ;
}

.detl{
  width: 100px;
  height: 30px;
  float: right;
  margin-left: 15px;
}
.det2{
  height: 30px;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.tablea{
  width: 100%;

}

.personal{
  padding: 5px;
}

.data{
  margin: 8px;
}

textarea {
  width: 715px;
  height: 60px;
  resize: none;
  background: #355064;
  color: white;
  outline: none;
  border: 1px #708191 solid ;
  padding: 8px;
  border-radius: 5px;
}

.area{
  margin-top: 15px;
}
.btnc {
  font-size: 18px;
  width: 158px;
  background-color: #FF8C00;
  border: 0;
  height: 60px;
  color: white;
  outline: none;
  float: right;
  border-radius: 5px;
}

.btnc:hover {
  background-color: #FFA500;
}

.btnc:active {
  background-color: #ffb444;
}

.fio{
  margin-left: 10px;
 }

.messages{
  margin-top: 15px;
  border: 1px #708191 solid ;
  background: #355064;
  overflow: auto;
  height: 300px;
  padding: 5px;
  border-radius: 5px;
}

.leftsidechat{
  margin-top: 5px;
  width: 100%;
}
.rightchat{
  text-align: right;
  float: right;
  width: 100%;
}

.firstcolumn{
  width: 76px;
  vertical-align: top;
}
.secondcolumn{
  vertical-align: top;
}

.date, .time{
  margin: 5px;
  font-size: 9pt;
  color: #e7e7e7;
}

.text {
  padding: 10px;
  border-radius: 5px;
  background: #708191;
  min-height: 36px;
  margin: 0 10px;
  max-width: 600px;
  text-align: left;
  line-height: 18px;
}

.chattabler{
  float: right;
}
