<div class="menu">
  <button class="out" routerLink="" type=submit>
    Выйти из режима администратора
  </button>
</div>
<div class="wrapper">
  <div class="leftsection">
    <div class="head">
      Пользователи
    </div>
    <div class='result' *ngFor="let user of users; let i = index">
      <table class="tablea">
        <tr>
          <td>
            <button class="det2" (click)="expand(i)">{{user.lastname}} {{user.firstname}} {{user.middlename}}</button>
          </td>
          <td>
            <button class="detl" (click)="read(i)">Чат</button>
          </td>
        </tr>
      </table>
      <div *ngIf="user.expand">
        <div class="personal">
          <div class="data"> Номер пользователя: {{user.passenger_id}}</div>
          <div class="data"> Телефон: {{user.phone}}</div>
          <div class="data"> Email: {{user.email}}</div>
        </div>
      </div>

    </div>
  </div>
  <div class="rightsection">
    <div *ngIf="k>-1">
      <div class="head">
        Чат
      </div>


      <div class="messages" >
        <div *ngFor="let appl of users[k].appeals; let i = index">
          <div class="applx">
            {{appl.date}} {{appl.message}}
          </div>
        </div>
      </div>
      <div class="area">
        <textarea type="text" [(ngModel)]="message">
        </textarea>
        <button class="btnc" >Отправить</button>
      </div>
    </div>
  </div>


</div>
<div class="footer">
  <app-footer></app-footer>
</div>
